*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: sans-serif;
}
:root{
    --maincolor: white;
    --mainColorLight: #000000;
    --textColor: rgb(12,12,12);
    --backGround: #000000;
}

header{
    background-color: var(--backGround);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
}
nav a{
    margin: 0 1rem;
    color: var(--mainColorLight);
    text-decoration: none;
    font-weight:bold;
    color: white;
}
a:hover{
    color: rgb(175, 182, 179);
}

header .nava{
    padding: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
    color: white;
}




header div, nav{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 35em){
    header .nava{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: gray;
        transition: 1s;
        transform: translateY(-100vh);

    }

    header .move_nav{
        transform: none;
    }
    nav .close{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav a{
        font-size: 1.5rem;
    }
}